/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Satoshi", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.fluid-text {
  font-size: clamp(5rem, 26vw, 13rem);
}

.delivery {
  background-image: url("/src/assets/handshake.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #1612127a;
}

.carousel-item {
  opacity: 0.7;
  transform: translateY(10px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.carousel-item.visible {
  opacity: 1;
  transform: translateY(0);
  order: -1;
}
